#main{
    width: 50vw;
    height: 50vh;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-data{
    margin: 0 auto;
    width: 80%;
}