{% extends "home-page.html" %} {% block content %}
<div class="container">
  <h1 class="text-center mb-3">Admin page</h1>
  <form
    class="row g-3 justify-content-center input-group"
    id="upload-form"
    action="/upload"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1">Container ID</span>
      <input
        type="text"
        class="form-control"
        placeholder="Container ID"
        aria-label="container_id"
        aria-describedby="basic-addon1"
        name="id"
        required
      />
    </div>

    <div class="input-group mb-1">
      <label class="input-group-text" for="inputGroupFile01">Image 1</label>
      <input
        type="file"
        class="form-control"
        id="inputGroupFile01"
        name="img1"
        accept="image/*"
        required
      />
    </div>
    <div class="input-group mb-1">
      <label class="input-group-text" for="inputGroupFile01">Image 2</label>
      <input
        type="file"
        class="form-control"
        id="inputGroupFile01"
        name="img2"
        accept="image/*"
        required
      />
    </div>

    <button
      class="btn btn-outline-secondary"
      type="submit"
      id="inputGroupFileAddon04"
    >
      Button
    </button>
  </form>
</div>
{% endblock %}
